/* Start */

@font-face {
    font-family: 'metropolislight';
    src: url('metropolis-light-webfont.woff2') format('woff2'),
         url('metropolis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html, body{
margin: 0;
height: 100%;
overflow-x: hidden !important;
overflow-y: hidden;
font-family: 'metropolislight';
font-style: normal;
}

/* Height of screen without navbar */
.max-height{
    height: calc(100% - 90px);
}

/* Background */
.login_background{
background: linear-gradient(139.33deg, #FFFFFF 39.75%, #0F75BC 114.15%);
clear:both;
height: auto;
}

.login-screen{
    margin-top: 96px;
    background: linear-gradient(139.33deg, #FFFFFF 39.75%, #0F75BC 114.15%);
}

/* Email to Mobile switch */
.email-text-slider{
    margin-top: 50px;
    margin-bottom: 20px;
}

.email-text, .mobile-text{
    color: rgba(30, 61, 88, 1);
    font-size: 14px;
}

.email-text{
    text-align: right;

}

.mobile-text{
    text-align: left;
    justify-content: left;
}

/* The switch - the box around the slider */
.switch, .landingswitch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(32, 84, 123, 1);
    -webkit-transition: .4s;
    transition: .4s;
    width:50px;
    height: 19px;
    border-radius: 50px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    width: 12px;
    height: 12px;
  }
  
  input:checked + .slider {
    background: rgba(32, 84, 123, 1);
  }
  
  input:focus + .slider {
    background: rgba(32, 84, 123, 1);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Login fields */
#usernamelogin, #userpassword{
    margin-bottom: 18px;
    padding: 10px;
    border-radius: 5px;
    width: 306px;
    height: 44px;
    gap: 10px;
    border: 1px solid rgba(179, 206, 225, 1);
    color: rgba(146, 146, 146, 1);
}

.login-button{
    margin-top: 5px;
    margin-bottom: 20px;
    width: 270px;
    height: 39px;
    background: #1E3D58;
    color:rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: none;
}

/* Support links */

.remember-me{
    margin-bottom: 50px;
    display: flex;
    font-size: 15px;
    justify-content: center;
}

#remeber-me-box{
    width: 27px;
    height: 27px;
    border: 1px solid;
    border-color: rgba(179, 206, 225, 1);
    background: rgba(255, 255, 255, 0.65);
    display: inline-block;
    font-size: 0;
    margin-right: 10px;
    border-radius: 5px;
}

.text-remember{
    display: inline-block;
    margin-top: 3px;
}

.forgot-pass-text{
    font-size: 12px;
    color: black;
}

.noacc-createacc, .noaccount-text, .createacc-text{
    margin-top: 20px;
    font-size: 12px;
    color: black;
}

/* Footer: logo, text etc. */
.footer{
    margin-top: 50px;
}

.company-footer{
    font-size: 10px;
}

/* Iphone SE 370px screens */
@media screen and (max-width: 376px) {
    
    #login-logo{
        width: 20%;
    }

    .login-screen{
        margin-top: 45px;
        margin-bottom: 0px;
    }

    .email-text, .email-text-slider, .slider-button, .mobile-text{
        font-size: 12px;
        padding-top: -10px;
    }

    #usernamelogin, #userpassword{
        width: 275px;
        height: 40px;
        margin-top: 0;
    }

    #usernamelogin{
        margin-bottom: 15px;
    }

    #userpassword{
        margin-bottom: 10px;
    }

    .login-button{
        width: 210px;
        height: 35px;
        font-size: 15px;
        margin-top: 6px;
    }

    .text-remember{
        font-size: 13px;
    }

    #remember-me-box{
        width: 5px;
        height: 5px;
    }

    .support-links{
        margin-top: -30px;
    }

    .forgot-pass-text, .noaccount-text, .createacc-text{
        font-size: 10px;
    }

    #ncs-footer{
        width: 13%;
    }

    .noacc-createacc{
        margin-bottom: -15px;
    }
  }

  /* Landing page */

.landingbackimg{
    background-image: url(../images/landingpage_background.png);
    background-size: cover;
}

.landing-top-logo{
    width: 18px;
    height: 12px;
    top: 6px;
}

.landing-welcome{
    padding-top: 11px;
}

.landingwelcome-text{
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.managecards-img, .transfer-img, .collectmoney-img, .widthdrawl-img{
    width: 144px;
    height: 144px;
    background: rgba(30, 61, 88, 0.65);
    border-radius: 20px;
    margin: auto;
}

.landing-top-apps img{
    padding-top: 30px;
}

.landing-bottom-apps img{
    padding-top: 30px;
}

.landing-bottom-apps{
    padding-top: 15px;
}

.landing-top-apps, .landing-bottom-apps{
    padding-right: 35px;
    padding-left: 35px;
}

.caption-apps{
    font-size: 15px;
    color: #FFFFFF;
}

.form-switch .form-check-input {
    width: 100px;
    height: 20px;
    border-radius: 50px;
}

.landing-footer{
    padding-top : 110px;
}

.form-check-input{
    background-color: #FFFFFF;
}

/* NAVBAR */

.navbar-start{
    background: rgba(30, 61, 88, 1);
    width: 341px;
    height: 795px;
    color: #FFFFFF;
    text-align: center;
}

.top-layout-nav{
    padding-top: 60px;
}

.offcanvas{
    color: #FFFFFF;
    padding-left: 47px;
    font-size: 15px;
    top: 100px;
    width: 341px;
    height: 795px;
}

.offcanvas-nav{
    color: #FFFFFF;
}

.navbar-toggler{
    border: none;
}

.slideout-menu{
    padding-bottom: 10px;
}

.navbar{
    position: fixed;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

#navbarOffcanvasLg{
    top: 99px;
    width: 341px;
    height: 795px;
    background-color: rgba(30, 61, 88, 1) !important;
    border-radius: 0px 26px 0px 0px;
    opacity: 0.95;
}

.dash:hover{
    background-color: rgba(255, 255, 255, 0.18);
}

.menu-pfp{
    width: 78px;
    height: 78px;
}

.menu-text{
    padding-bottom: 25px;
}

.modal-backdrop.show{
    opacity: 0 !important;
}

/* Profile */

.profile-body{
    overflow-y: visible !important;
}

.profile-pic{
    padding-top: 80px;
}

.profile-info{
    color: #FFFFFF;
    font-weight: 500;
}

.profile-name{
    font-size: 24px;
}

.profile-email{
    font-size: 16px;
    margin-top: -13px;
}

.profile-optionslist{
    width: 398px;
    height: 426px;
    background: #FFFFFF;
    border-radius: 26px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    margin-left: 10px;
    margin-right: 10px;
}

.option-profile, .option-balance{
    padding-top: 30px;
    padding-left: 30px;
}

.option-settings{
    padding-left: 30px;
    padding-top: 20px;
}

.option-logout{
    padding-top: 110px;
}

.arrow{
    margin-left: 160px;
}

.options-heading{
    margin-left: -20px; 
    margin-top: 2px;
}

.accordion-button:focus{
    box-shadow: none !important;
}

.noecash-box{
    width: 304px;
    height: 50px;
    background-color: rgba(217, 217, 217, 0.2);
    color: rgba(32, 84, 123, 1);
    text-align: left;
    border-radius: 10px;
    font-weight: 500;
    margin-left: 30px;
}

.accordion-button{
    background-color: none !important;
}

.account-text{
    color: rgba(243, 60, 12, 1);
}

.accounts{
    padding-top: 25px;
    padding-left: 50px;
}

.edit-button{
    margin-left: 50px;
}

.accordion-body{
  padding: 0 !important;
  margin-bottom: 10px; 
}

.balance-img{
    padding-left: 15px;
    padding-right: 15px;
}

.accordion-item{
    border: none !important;
}

/* .accordion-button::after{
    
} */

.navbar{
    position: fixed;
    top: 0px;
}

/* Iphone SE 370px screens */
@media screen and (max-width: 376px) {

    /* landing */
    .landing-apps{
        margin-top: -10px;
    }

    .landingbackimg{
        margin-top: -5px;
        background-image: url(../images/landingpage_background.png);
        background-size: 375px 667px;
    }

    .landingwelcome-text{
        font-size: 25px;
    }

    .managecards-img, .transfer-img, .collectmoney-img, .widthdrawl-img{
        width: 120px !important;
        height: 120px;
        margin: auto;
    }

    .image-manage, .image-transfer, .image-collect, .image-funds{
        width: 50px;
        height: 56px;
        margin-top: 15px;
    }

    .caption-apps{
        padding-top: 5px;
        font-size: 13px;
    }

    .landing-top-apps img{
        padding-top: 10px;
    }
    
    .landing-bottom-apps img{
        padding-top: 10px;
    }
    
    .landing-top-apps, .landing-bottom-apps{
        padding-right: 35px;
        padding-left: 35px;
    }

    .landing-footer{
        margin-top: -100px;
    }
    
    /* Navbar */

    #navbarOffcanvasLg{
        top: 99px;
        width: 300px;
    }

    .offcanvas-nav{
        font-size: 12px;
    }

    .menu-text{
    padding-bottom: 15px;
    }

    .form-check input{
        width: 80px !important;
        height: 15px !important;
    }

    /* profile */

    .profile-pic{
        padding-top: 50px;
    }

    .profile-name{
        font-size: 20px;
    }

    .profile-email{
        margin-top: -18px;
        font-size: 14px;
        font-weight: 100;
    }

    .options-heading, .option-balance, .option-settings{
        font-size: 12px;
        padding-top: 8px;
    }

    .option-logout{
        padding-top: 60px;
        font-size: 14px;
    }

    .option-terms{
        font-size: 12px;
    }

    .profile-pic img{
        width: 92px;
        height: 92px;
    }

    .profile-optionslist{
        width: 200px;
        height: 340px;
        margin-left: 10px;
        margin-right: 10px;
    }

  }